---
import Layout from "@layouts/Layout.astro";
import VideoAnalysisView from "@components/analisis-video/analisis-video.tsx";
---

<Layout>
  <section id="container-video" class="flex h-svh w-svw p-0">
    <VideoAnalysisView client:load />
  </section>
</Layout>
