---
import "@styles/global.css";
---

<section>
  <footer hidden class="bg-white flex justify-start w-svw grid-cols-4 px-10 pb-5 pt-3 static">
    <div id="redes">

    </div>
    <div id="recursos">
        <p class="font-bold">Recursos</p>
        <ul class="list-none p-0 m-0">
            <li><a class="hover:underline" href="/contacto">Contáctanos</a></li>
            <li><a class="hover:underline" href="/about">Sobre nosotros</a></li>
            <li><a class="hover:underline" href="/terminos">Términos y Condiciones</a></li>
            <li><a class="hover:underline" href="/privacidad">Privacidad</a></li>
        </ul>
    </div>
  </footer>
</section>
