---
import "@styles/global.css"
import Layout from "@layouts/Layout.astro";
import { privateRoutesMap } from "@consts/routes"

const name = Astro.cookies.get("name")?.value;
---

<Layout>
    <section class="mx-10 my-5 h-svh">
        <div class="text-2xl font-bold" id="title">
            <h1>Panel de Administrador</h1>
        </div>
        <div class="test-xl py-4" id="subtitle">
            <span>
                Bienvenido, {name}.
            </span>
        </div>
        <div id="menu" class="py-3 flex flex-col gap-2">
            <span class="font-semibold">Escoja el elemento al que desea acceder:</span>
            <a href={privateRoutesMap.AUTH_REGISTER} class="no-underline hover:text-blue-700">Registrar usuario</a>
        </div>
    </section>
</Layout>