---
import FormLayout from "@layouts/FormLayout.astro";
import { Input, ComboBox, FormButtons } from "@components/forms/index";

const buttonClass =
  "text-[#C10230] bg-white border-[#C10230] border-solid border-2 px-4 py-2 rounded-md flex items-center justify-center cursor-pointer transition";
const inputClass =
  "bg-white text-black rounded-md p-2 w-md focus:outline-none focus:ring-2 focus:ring-[#C10230]";

const user = Astro.cookies.get("user")
  ? (JSON.parse(Astro.cookies.get("user")?.value as string) as LoggedUser)
  : null;
---

<FormLayout user={user} formTitle="Crear Jugador" pageTitle="Agregar Jugador">
  <form id="formJugador" class="flex flex-col w-full max-w-md">
    <Input
      id="idbanner"
      label="ID Banner"
      maxlength={9}
      minlength={9}
      required
    />
    <!-- Nombres -->
    <Input id="nombrejugador" label="Nombres" maxlength={100} required />
  </form>

  <!-- Apellidos -->
  <Input id="apellidojugador" label="Apellidos" maxlength={100} required />

  <!-- Número de camiseta -->
  <Input
    id="numerocamisetajugador"
    label="Número de Camiseta"
    type="number"
    maxlength={2}
    minlength={1}
    required
  />

  <!-- Posición -->
  <ComboBox id="posicionjugador" label="Posición" required>
    <option value="">-- Selecciona --</option>
    <option value="Portero">Portero</option>
    <option value="Defensa">Defensa</option>
    <option value="Mediocampista">Mediocampista</option>
    <option value="Delantero">Delantero</option>
  </ComboBox>

  <!-- Jugador activo -->
  <ComboBox id="jugadoractivo" label="Jugador Activo" required>
    <option value="" disabled selected>-- Selecciona --</option>
    <option value="true">Activo</option>
    <option value="false">Inactivo</option>
  </ComboBox>

  <!-- Imagen del jugador -->
  <Input
    id="imagenjugador"
    label="Foto de la camiseta (opcional)"
    type="file"
    accept="image/*"
  />

  <!-- Botón -->
  <FormButtons label="Crear Jugador" />
</FormLayout>

<script src="@pages/admin/jugadores/scripts/create.ts" type="module" />