---
import type { GetStaticPaths } from "astro";
import NotFoundImage from "@assets/not_found.svg";
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";

export const getStaticPaths = (() => {
  return [
    {
      params: { heatmap: "heatmap" },
    },
  ];
}) satisfies GetStaticPaths;

const { heatmap } = Astro.params;
---

<Layout>
  <section class="flex flex-col m-5 justify-center items-center-safe gap-5">
    <div>
      <div id="title" class="flex">
        <h1 class="text-3xl font-bold">Mapa de Calor</h1>
      </div>
      <div class="flex justify-center items-center-safe w-fit h-4xl">
        <Image
          src={NotFoundImage}
          class="flex self-center flex-wrap w-fit h-fit p-5 object-cover"
          sizes={"(max-width: 640px) 100%, 100%"}
          alt="Mapa de Calor"
        />
      </div>
    </div>
  </section>
</Layout>
