---
import "@styles/global.css";
import FormLayout from "@layouts/FormLayout.astro";
import { actions } from "astro:actions";
import { Input, ComboBox, FormButtons } from "@components/forms/index";

const user = Astro.cookies.get("user")
  ? (JSON.parse(Astro.cookies.get("user")?.value as string) as LoggedUser)
  : null;

const { data: institucionesData, error: institucionesError } =
  await Astro.callAction(actions.getInstituciones, { pageSize: 1000 });

if (institucionesError || !institucionesData) {
  console.error("Error fetching instituciones:", institucionesError);
  throw new Error("No se pudo obtener la lista de instituciones.");
}

const instituciones = institucionesData.data;
---

<FormLayout formTitle="Agregar Equipo" pageTitle="Agregar Equipo" user={user}>
  <form
    id="form-equipo"
    class="flex flex-col w-full max-w-md"
    enctype="multipart/form-data"
  >
    <!-- Nombre del equipo -->
    <Input id="nombreequipo" label="Nombre del Equipo" required={true} />

    <!-- Institución -->
    <ComboBox id="idinstitucion" label="Institución">
      <option value="" disabled selected>Selecciona una institución</option>
      {
        instituciones.map((inst) => (
          <option value={inst.idinstitucion}>{inst.nombreinstitucion}</option>
        ))
      }
    </ComboBox>

    <Input
      id="imagenequipo"
      label="Logo (opcional)"
      type="file"
      accept="image/*"
    />

    <!-- Estado activo -->
    <ComboBox id="equipoactivo" label="Activo">
      <option value="true" selected>Sí</option>
      <option value="false">No</option>
    </ComboBox>

    <FormButtons label="Crear Equipo" />
  </form>
</FormLayout>

<script src="@pages/admin/equipos/scripts/create.ts" type="module" />