---

interface Props {
    title: string;
    detail: string | number;
}

const { title, detail } = Astro.props;
---

<div id="detail" class="flex flex-col gap-2">
    <span class="text-base text-black font-bold">{title}</span>
    <span class="text-base text-black">{detail}</span>
</div>
