---
import CardContainer from "@components/cards/CardContainer.astro";
import LazyImage from "@components/image/LazyImage.astro";
import OutlinedButton from "@components/buttons/OutlinedButton.astro";
import DeleteIcon from "@assets/delete_icon.svg"
import EditIcon from "@assets/edit_icon.svg"

interface Props {
  profileImage?: string;
    playerName: string;
    playerId: number;
}

const { profileImage, playerName, playerId } = Astro.props;
---

<CardContainer className="h-fit w-3/7">
<div id="card-image" class="w-fit h-max self-center rounded-sm bg-white">
    <LazyImage  
    height={200}
    width={200}
    className="flex self-center flex-wrap p-5 object-cover" />
  </div>
    <div
      id="card-details"
      class="flex flex-col gap-6 w-full h-auto p-5 bg-white text-black rounded-sm"
    >
    <h1 class="self-center font-bold text-3xl">{playerName}</h1>
    <div class="flex flex-row justify-center items-center gap-10">
        <OutlinedButton  
        label="Editar"
        iconSrc={EditIcon.src}
        className="px-10"/>
        <OutlinedButton  
        label="Eliminar"
        iconSrc={DeleteIcon.src}
        className="px-10"/>
    </div>
    </div>
</CardContainer>